nk2/po-dita-converter/res/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
            schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:element name="uicontrol">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id"/>
          <xs:attribute type="xs:string" name="translate"/>
          <xs:attribute type="xs:string" name="otherprops"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id" use="optional"/>
          <xs:attribute type="xs:string" name="translate" use="optional"/>
          <xs:attribute type="xs:string" name="otherprops" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="screen">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="uicontrol"/>
        <xs:element ref="fn"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="screen"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="topic">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="body"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="product"/>
      <xs:attribute type="xs:string" name="rev"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dita">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="topic"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
</xs:schema>